@card-padding: 1rem;

.ck-dashboard-content{
    padding: 1.5rem 2rem;    
}

.ck-card-container{
    display: flex;
    flex-wrap: wrap;
}

md-sidenav{
  background: lightblue;
  width: 20rem;
}

md-card {
    width: 20rem;
    margin: 1rem 0.5rem;
    padding: 1rem;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  
  &:hover{
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.3) 0 8px 8px 0;
  }
}

md-card-title{
  font-size: 1.6rem;
  font-weight: #333;
}
md-card-title:not(:first-child),
md-card-subtitle:not(:first-child) {
    margin-top: 1rem;
}

md-card-content{
  font-size: 1.2rem;
}

[md-card-image]:first-child {
    margin-top: -1.5rem;
}

[md-card-image] {
    width: calc(100% ~'+' 2rem);
    margin: 0 0 0 -1rem;
}

md-card-actions {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 8px 0;
    margin-bottom: -1rem !important;
    
}